# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")
# import some functions from other packages
importFrom("grDevices", "heat.colors")
importFrom("graphics", "image", "lines", "par", "plot", "text")
importFrom("stats", "approx", "uniroot")
